:root {
    --content-width: 20em;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1em;
    font-weight: normal;
}

header, footer {
    text-align: center;
    background: darkblue;
    color: azure;
}

footer {
    margin-top: 0.5em;
}

footer a {
    color: azure;
}

main {
    max-width: var(--content-width);
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.75em;
    font-weight: 600;
    margin: 0 0 0 0;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0 0;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

menu {
    list-style: none;
    padding: 0;
    width: var(--content-width);
}

li.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;

    background-color: antiquewhite;
    text-display: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.3em;
    border-radius: 0.5em;
    border-style: solid;
}

li.entry input[type="checkbox"] {
    margin: 0.2em;
    vertical-align: text-top;
}

li.toplevel a {
    font-size: 1.5em;
    background-color: antiquewhite;
    text-decoration: none;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0.3em;
    display: block;
    border-radius: 0.5em;
    border-style: solid;
}

li.toplevel a:link:visited {
    color: black;
}

.warn {
    color: orange;
}

.error {
    color: red;
    font-weight: bolder;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 10em, 0);
    }
}
.animate__fadeOutDown {
    animation-name: fadeOutDown;
    animation-duration: 1s;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -10em, 0);
    }
}
.animate__fadeOutUp {
    animation-name: fadeOutUp;
    animation-duration: 1s;
}